*{
  box-sizing:border-box;
}
clear::after,.img_box::after{
  display:table;
  content:"";
  clear:both;
}
body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
html{
  scroll-behavior:smooth;
}
hr{
  animation-name:main;
  animation-duration:2s;
  margin:20px 5px;
}
a{
  color:#ff6;
}
a:hover{
  color:#ff0;
}
.example::-webkit-scrollbar{
  display:none;
}
.example{
  -ms-overflow-style:none;/* IE and Edge */
  scrollbar-width:none;/* Firefox */
}
nav{
  background-color:#cff;
  position: fixed;
  width: 100%;
  z-index:1;
}
nav button{
  text-decoration:none;
  color:#36c;
  display:inline-block;
  padding:10px;
  font-size:20px;
  border:none;
  background-color:transparent;
}
nav button:hover{
  background-color:#6cf;
}
.dropdown-content{
  display:none;
  position:absolute;
  background-color:#006;
  width:100%;
  height:400px;
  overflow:auto;
  left:0;
}
.dropdown-content a{
  color:#fff;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdown-content h2{
  color:#fff;
  margin:10px;
}
.dropdown-content a:hover{
  background-color:#009;
}
.menu:hover+.dropdown-content,.dropdown-content:hover{
  display:block;
}
main{
  background-color:#06f;
  padding:10px;
  animation-name:main;
  animation-duration:2s;
  padding-top:4em;
  animation-fill-mode:forwards;
  color:#fff;
}
@keyframes main{
  0%{
    background-color:#e6ffff;
    color:#000000;
  }
  30%{
    background-color:#e6ffff;
    color:#000000;
  }
  100%{
    background-color:#06f;/*也可以是#03c*/
    color:#ffffff;
  }
}
header{
  margin-bottom:150px;
}
header>h1{
  padding:30px;
  font-size:120px;
  margin:0;
  text-align:center;
}
header>div{
  background-color:#0f9;
  color:#030;
  display:table;
  content:"";
  clear:both;
  padding:20px;
  border:3px solid #090;
  border-radius:10px;
  margin:20px;
}
header>div>p>i{
  border:2px solid blue;
  padding:7px;
  border-radius:5px;
}
footer{
  background:linear-gradient(#06f 0px,#03c 80px);
  padding:30px;
  padding-top:100px;
  color:#66f;
}

/*加载提示*/
.loading{
  background-color:#e6ffff;
  padding:100px 50px;
  width:100vw;
  height:100vh;
  text-align:center;
  font-size:20px;
  z-index:1;
  color:#009;
}
.loading>h1{
  font-size:60px;
}
.loading button{
  font-size:23px;
  border:0;
  border-radius:10000px;
  background-color:blue;
  color:#fff;
  padding:5px;
  width:50%;
}


/*小于300px显示*/
.small{
  display:none;
}

img,video,iframe,canvas{
max-height:90vh !important;
}

.clear::after{
  content:"";
  clear:both;
  display:table;
}
.title_center{
  text-align:center;
  margin:7px;
}
.watch{
  padding:10px;
  border:4px solid #03c;
  background-color:#09f;
  border-radius:20px;
}
.watch>p{
  text-indent:2em;
  margin:7px 0;
}
.watch i{
  display:inline;
}
.alert{
  border:1px solid red;
  border-radius:15px; 
  background-color:#ffb3b3;
  padding:10px;
}
.alert>p,.alert>strong{
  margin:5px 0;
}
canvas,audio{
  max-width:100%;
}
img,video,.max-width,iframe{
  max-width:100%;
  object-fit: contain;
}

.img_box{
  background-color:#99f;
  padding:10px;
  margin:10px 0;
  border:4px solid #33f;
}
.img_box p{
  color:#666;
  margin:10px 0;
}
.say{
  background-color:#6fc;
  color:#060;
  text-align:center;
  padding:10px;
  font-size:25px;
  margin:5px 0;
  border-radius:10px;
}
.say>i{
  color:#c3f;
  font-size:30px;
}
ol>p,ul>p{
  font-size:15px;
  margin:5px;
  margin-left:25px;
  color:#999;
}
.size-small{
  color:#ccf;
  font-size:15px;
}

main>img{
  float:right;
  max-width:30%;
  padding:10px;
}


@media screen and (max-width: 600px) {

main>img{
  float:center;
  max-width:100%;
}

}

@media screen and (max-width: 300px) {
header,main,nav,footer{
  display:none;
}
.small{
  display:block;
  font-size:30px;
  color:red;
  padding:5px;
  text-align:center;
}
}