@font-face{
    font-family:'icons';
    src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),url('fa.woff2') format('woff2');
    font-display:swap;
}
@font-face{
    font-family:'font';
    src:url('font.ttf') format('truetype');
}
:root{
    color-scheme:light dark;
    --ts:0.2s;
    --r1:4px;
    --r2:8px;
    --r3:12px;
    --r4:16px;
    --r5:20px;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:inherit;
    scrollbar-width:none;
}
html{font-size:100%;}
html[data-theme="1"]{--seed:1;--primary:#dbba84;--secondary:#b4c587;}
html[data-theme="2"]{--seed:1;--primary:#eb9947;--secondary:#e2c836;}
html[data-theme="3"]{--seed:1;--primary:#7c9eb2;--secondary:#2c96a0;}
html[data-theme="4"]{--seed:1;--primary:#b39fc6;--secondary:#a69fdf;}
html[data-theme="5"]{--seed:1;--primary:#ebaddc;--secondary:#e8a0b4;}
html[data-theme="6"]{--seed:-1;--primary:#16599c;--secondary:#6b7d36;}
html[data-theme="7"]{--seed:-1;--primary:#4a2c6a;--secondary:#503040;}
body{
    background-position:50% 0lvh!important;
    background-repeat:no-repeat!important;
    background-size:cover!important;
    background-attachment:fixed!important;
    background-color:hsl(from var(--primary) h 30 calc(50 + 46 * var(--seed)));
    color:hsl(from var(--primary) h 20 calc(50 - 44 * var(--seed)));
    font-family:'font','微软雅黑',sans-serif;
    &::before{
        position:fixed;
        z-index:-1;
        left:0;
        content:'';
        display:block;
        width:100%;
        height:100%;
        background:hsl(from var(--primary) h 30 calc(50 + 46 * var(--seed)) / var(--opacity,1));
        backdrop-filter:blur(var(--blur,0));
    }
    &::after{
        position:fixed;
        left:0;
        top:0;
        z-index:1;
        content:'';
        display:block;
        width:100%;
        height:40px;
        background:linear-gradient(to bottom,#0002,#0000);
    }
}

::selection{background:hsl(from var(--primary) h s l / 0.6);}
code,var,button,input{font-family:'font','微软雅黑',sans-serif;}
p,dt,dd,li,small,code,b{line-height:1.7em;letter-spacing:0.13em;}
td{line-height:1.4em;letter-spacing:0.12em;}
button,input{border:none;transition:opacity var(--ts);}
input:focus{outline:none;}
input::placeholder{color:hsl(from currentColor h s l / 0.4);}
button:hover{opacity:0.8;}
button:disabled{opacity:0.6;}

nav{
    position:fixed;
    z-index:3;
    user-select:none;
    >button{
        position:fixed;
        left:8px;
        top:8px;
        display:block;
        width:32px;
        height:32px;
        border-radius:16px;
        backdrop-filter:blur(10px);
        background-image:url("image/9.webp");
        background-position:50% 50%;
        background-size:cover;
        &:hover{opacity:1;}
    }
    #bar{
        position:fixed;
        right:8px;
        top:6px;
        overflow:hidden;
        display:flex;
        width:112px;
        height:36px;
        border-radius:18px;
        background:hsl(from var(--primary) h s calc(l + 5 * var(--seed)) / 0.6);
        backdrop-filter:blur(6px);
        &::before{
            position:absolute;
            top:0;left:0;
            z-index:-1;
            content:'';
            width:100%;
            height:36px;
            background:hsl(from var(--primary) h 60 50 / 0.5);
            pointer-events:none;
            opacity:0.2;
            transform-origin:left center;
            animation-name:progress;
            animation-timing-function:linear;
            animation-timeline:scroll(root block);
        }
        >div{
            width:24px;
            height:36px;
        }
        >button{
            display:block;
            background:#0000;
            width:32px;
            height:36px;
            padding:6px 4px;
            color:hsl(from var(--primary) h 20 calc(50 - 10 * var(--seed)));
            line-height:30px;
        }
    }
    #search{
        position:fixed;
        left:44px;
        top:8px;
        display:none;
        gap:4px;
        button,input{
            height:32px;
            border-radius:16px;
            backdrop-filter:blur(6px);
            background:hsl(from var(--primary) h s calc(l + 5 * var(--seed)) / 0.6);
            color:hsl(from var(--primary) h 20 calc(50 - 10 * var(--seed)));
        }
        button{
            width:32px;
            &.active{
                background:hsl(32 80 calc(50 + 10 * var(--seed)) / 0.5);
                color:hsl(32 20 calc(50 - 20 * var(--seed)));
            }
        }
        input{width:80px;padding:0 8px;}
    }
    #menu,#setting{
        position:fixed;
        right:8px;
        top:52px;
        background:hsl(from var(--primary) h s calc(l + 5 * var(--seed)) / 0.6);
        border-radius:var(--r4);
        opacity:0;
        pointer-events:none;
        backdrop-filter:blur(4px);
        transform:scale(0.2);
        transition:opacity 0.4s,transform 0.4s cubic-bezier(0.4,0.4,0.2,1.1);
        &.show{opacity:1;transform:scale(1);pointer-events:all;}
    }
    #menu{
        display:flex;
        width:280px;
        height:320px;
        transform-origin:calc(100% - 64px) 0%;
        >div{
            overflow-y:auto!important;
            height:100%;
            >button{
                display:block;
                width:100%;
                margin-top:4px;
                text-align:left;
                text-wrap:nowrap;
                background:#0000;
            }
        }
        >div:nth-of-type(1){
            width:160px;
            padding:4px 0 4px 8px;
            >button{
                position:relative;
                padding:4px 0 4px 16px;
                font-size:1.125rem;
                &.active{
                    background:linear-gradient(to left,hsl(from var(--text) h s l / 0.05) 10px,#0000);
                    pointer-events:none;
                    &::before,&::after{
                        position:absolute;
                        right:0;
                        display:block;
                        content:'';
                        width:10px;
                        height:10px;
                    }
                    &::before{
                        top:-10px;
                        background:radial-gradient(circle at top left,#0000 10px,hsl(from var(--text) h s l / 0.05) 10px);
                    }
                    &::after{
                        bottom:-10px;
                        background:radial-gradient(circle at bottom left,#0000 10px,hsl(from var(--text) h s l / 0.05) 10px);
                    }
                }
            }
        }
        >div:nth-of-type(2){
            overflow:hidden;
            width:100%;
            padding:4px 4px;
            background:hsl(from var(--text) h s l / 0.05);
            >button{font-size:1rem;padding:6px 12px;}
        }
    }
    #setting{
        display:flex;
        flex-direction:column;
        gap:8px;
        width:220px;
        height:auto;
        padding:8px;
        transform-origin:calc(100% - 32px) 0%;
        >div{
            display:flex;
            justify-content:center;
            gap:8px;
            &:first-child{gap:6px;}
        }
        input[type="radio"]{
            appearance:none;
            width:22px;
            height:22px;
            border-radius:11px;
            &:checked{outline:2px solid hsl(from var(--primary) h s l / 0.5);}
        }
        button{
            width:100%;
            height:32px;
            background:hsl(from var(--primary) h s l / 0.3);
            font-size:1rem;
            border-radius:16px;
            text-wrap:nowrap;
        }
        input[type="range"]{
            appearance:none;
            width:100%;
            height:32px;
            padding:4px;
            border-radius:16px;
            background:hsl(from var(--primary) h s l / 0.3);
            &::before{
                position:absolute;
                content:attr(title);
                display:block;
                line-height:24px;
                font-size:1rem;
                margin-left:12px;
                pointer-events:none;
            }
            &::-webkit-slider-thumb{
                appearance:none;
                width:24px;height:24px;border-radius:12px;
                background:hsl(from var(--primary) h s calc(50 - 10 * var(--seed)) / 0.4);
            }
            &::-webkit-range-thumb{
                width:24px;height:24px;border-radius:12px;
                background:hsl(from var(--primary) h s calc(50 - 10 * var(--seed)) / 0.4);
            }
        }
        #deleteDataBtn,#deletebgBtn{
            background:#f003;
            color:hsl(0 70 calc(50 - 40 * var(--seed)));
        }
    }
}
@keyframes progress{from{transform:scaleX(0);}to{transform:scaleX(1);}}

main{
    --theme:var(--primary);
    min-height:100vh;
    background:linear-gradient(160deg,hsl(from var(--theme) h s l / 0.4),#0000 60vh);
    *[id]{scroll-margin-top:40px;}
}
main:not(#HOME){
    padding:12px;
    @media(width>=768px){padding:12px 100px;}
    &::before{
        position:static;
        display:block;
        margin:80px 8px 40px 8px;
        content:attr(data-title);
        font-weight:bold;
        font-size:4rem;
        text-align:center;
    }
}
main>h1{
    margin:12px 0 20px 20px;
    font-size:1.875rem;
    position:relative;
    &::before{
        position:absolute;display:inline-block;content:"";
        width:12px;left:-20px;top:8px;bottom:8px;
        background:hsl(from var(--theme) h s l / 0.5);
        border-radius:6px;
    }
}
main>h2{
    font-size:1.5rem;
    margin:16px 0;
    letter-spacing:0.1em;
}
main>h3{
    position:relative;
    display:inline-block;
    width:auto;
    margin:8px 4px 12px 4px;
    font-size:1.125rem;
    color:hsl(from var(--theme) h 20 calc(50 - 20 * var(--seed)));
    &::after{
        position:absolute;
        content:'';
        left:-4px;
        top:1.6ex;
        right:-4px;
        height:12px;
        border-radius:6px;
        background:hsl(from var(--theme) h 40 calc(50 - 30 * var(--seed)) / 0.3);
    }
}
h4{text-align:center;font-size:1.125rem;}
p:not(#EVE p){
    margin:10px 0;
    time{
        display:inline-block;
        vertical-align:top;
        background:hsl(from var(--text) h s l / 0.1);;
        font-size:10px;
        line-height:16px;
        height:16px;
        padding:0 4px;
        margin:0 2px;
        border-radius:var(--rs);
        text-indent:0;
    }
}
a{
    color:hsl(from var(--primary) h 80 calc(50 - 20 * var(--seed)));
    text-decoration-style:dotted;
    &:hover{opacity:0.8;}
}
em{
    background:hsl(from var(--primary) h 60 calc(50 + 20 * var(--seed)) / 0.3);
    font-style:normal;
    color:hsl(from var(--primary) h 30 calc(50 - 30 * var(--seed)));
    padding:2px 3px;
    border-radius:var(--r1);
    margin:0 3px;
}
small{opacity:0.7;}
hr{
    border:0;
    border-radius:1px;
    margin:15px 10px;
    padding:0.8px;
    background:linear-gradient(to right,
        #0000 0%,
        hsl(from var(--theme) h 50 50 / 0.5) 20%,
        hsl(from var(--theme) h 50 50 / 0.5) 80%,
        #0000 100%
    );
}
ul,ol,main:not(#EVE)>dl{
    margin:8px 0 8px 2em;
    li,dt{color:hsl(from var(--theme) h 30 calc(50 - 30 * var(--seed)))}
    dt{display:list-item;list-style-type:disc;}
    dd{font-size:0.875rem;opacity:0.8;}
}
sup{
    line-height:0;
    opacity:0.8;
    font-size:10px;
}
main svg,img,audio,video{
    width:400px;
    max-width:100%;
    border-radius:var(--r4);
    display:block;
    margin:12px auto;
}
article,q,code,table,details,.writing,.timeline{
    display:block;
    margin:12px 0;
    padding:16px;
    border-radius:var(--r4);
}
article{
    background:hsl(from var(--primary) h s l / 0.4);
    color:hsl(from var(--primary) h 30 calc(50 - 40 * var(--seed)));
    >p{text-indent:2.26em;}
    &:has(>b){
        display:grid;
        gap:4px;
        grid-template-columns:auto 1fr;
        >p{text-indent:0!important;margin:0!important;}
        >b{text-wrap:nowrap;text-align:right;font-weight:bold;}
    }
}
q{
    background:hsl(from var(--secondary) h s l / 0.4);
    color:hsl(from var(--secondary) h 40 calc(50 - 30 * var(--seed)));
    font-size:1.5625rem;
    text-wrap:balance;
    text-align:center;
    padding:8px;
    &::before,&::after{display:none;}
}
code{
    background:hsl(from var(--theme) h 20 calc(50 - 10 * var(--seed)) / 0.2);
    text-align:center;
    font-size:1.125rem;
    color:color-mix(in oklch,var(--theme) 7%,var(--text));
    text-wrap:balance;
    p{margin:0;}
}
table{
    width:100%;
    overflow:hidden;
    padding:0;
    border-collapse:collapse;
    display:table;
    background:hsl(from var(--primary) h s l / 0.3);
    td{text-align:center;}
    th{
        font-size:1.125rem;
        background:hsl(from var(--primary) h s l / 0.4);
        color:hsl(from var(--primary) h calc(s + 10) calc(50 - 30 * var(--seed)));
    }
    td,th{
        outline:0.5px solid hsl(from var(--primary) h s calc(50 + 20 * var(--seed)));
        padding:12px 4px;
        min-width:3em;
        text-wrap:balance;
    }
    @media(width<768px){
        &.scroll{
            overflow-x:auto;
            display:block;
            mask-image:linear-gradient(to right,#0008,#000 20px,#000 calc(100% - 20px),#0008);
            td,th{padding:8px;width:200px;text-wrap:nowrap;}
        }
    }
}
.writing{
    background:linear-gradient(to bottom,hsl(from var(--secondary) h s l / 0.5),hsl(from var(--secondary) h s l / 0.3));
    color:hsl(from var(--secondary) h 20 calc(50 - 30 * var(--seed)));
    h4{
        text-align:center;
        font-size:2.5rem;
        margin:16px 0;
    }
    small{
        display:block;
        text-align:center;
        font-weight:bold;
        margin:4px 0;
        text-indent:0;
    }
    p{text-indent:2.26em;}
}
.timeline{
    background:linear-gradient(135deg,hsl(from var(--primary) h s l / 0.3),hsl(from var(--primary) h s l / 0.2));
    position:relative;
    &::before{
        content:'';
        position:absolute;
        left:24px;
        top:0;
        bottom:0;
        width:4px;
        background:linear-gradient(to bottom,
            #0000 0,
            hsl(from var(--primary) h s l / 0.5) 16px,
            hsl(from var(--primary) h s l / 0.5) calc(100% - 15px),
            #0000 100%);
    }
    dt{
        background:#80808030;
        padding:0 32px;
        line-height:40px;
        font-size:1.125rem;
        margin:0 20px;
        border-radius:var(--r5);
        display:inline-block;
        width:auto;
    }
    dd{
        background:linear-gradient(to right,#80808020,#0000);
        color:hsl(from var(--primary) h 20 calc(50 - 30 * var(--seed)));
        padding:4px 12px;
        margin:12px 28px;
        border-radius:var(--r4);
        position:relative;
        &::before{
            content:'';
            position:absolute;
            display:block;
            width:12px;
            height:12px;
            border-radius:50%;
            background:var(--primary);
            left:-24px;
            top:calc(50% - 6px);
        }
    }
}

.keywords{
    display:flex;
    justify-content:center;
    gap:8px;
    >p{
        margin:0!important;
        padding:0 8px;
        font-size:0.875rem;
        line-height:28px;
        border-radius:14px;
        color:hsl(from var(--theme) h s calc(50 - 30 * var(--seed)));
        background:hsl(from var(--theme) h s l / 0.4);
    }
    &.m:after,&.w:after{
        display:block;
        content:'';
        position:static;
        width:28px;
        height:28px;
    }
    &.m:after{
        background-image:url("data:image/svg+xml,%3Csvg width='28' height='28' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' fill='%2308f5' rx='14' x='0' y='0'%3E%3C/rect%3E%3Cpath d='M11 11 A 6 6 0 0 1 11 23 A 6 6 0 0 1 11 11 M15.3 12.7 L 21 7 M17 7 L 21 7 L 21 11' stroke='%2308f' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &.w:after{
        background-image:url("data:image/svg+xml,%3Csvg width='28' height='28' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' fill='%23c395' rx='14' x='0' y='0'%3E%3C/rect%3E%3Cpath d='M14 5 A 6 6 0 0 1 14 17 A 6 6 0 0 1 14 5 M14 17 L 14 23 M12 21 L 16 21' stroke='%23c39' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
}
.gantt{
    position:relative;
    overflow:hidden;
    margin:12px 16px;
    padding:0 12px;
    height:40px;
    font-size:1.125rem;
    line-height:40px;
    border-radius:20px;
    color:hsl(from var(--theme) h s calc(50 - 35 * var(--seed)));
    background:linear-gradient(to right,
        hsl(from var(--theme) h s l / 0.1) calc(50% / 3),
        hsl(from var(--theme) h s l / 0.2) calc(50% / 3),
        hsl(from var(--theme) h s l / 0.2) calc(100% / 3),
        hsl(from var(--theme) h s l / 0.1) calc(100% / 3),
        hsl(from var(--theme) h s l / 0.1) 50%,
        hsl(from var(--theme) h s l / 0.2) 50%,
        hsl(from var(--theme) h s l / 0.2) calc(200% / 3),
        hsl(from var(--theme) h s l / 0.1) calc(200% / 3),
        hsl(from var(--theme) h s l / 0.1) calc(250% / 3),
        hsl(from var(--theme) h s l / 0.2) calc(250% / 3)
    );
    &::before,&::after{
        position:absolute;top:0;bottom:0;z-index:-1;
        display:block;content:"";
        background:repeating-linear-gradient(-45deg,
            hsl(from var(--theme) h s l / 0.1),
            hsl(from var(--theme) h s l / 0.1) 8px,
            hsl(from var(--theme) h s l / 0.4) 8px,
            hsl(from var(--theme) h s l / 0.4) 16px,
            hsl(from var(--theme) h s l / 0.1) 16px
        );
    }
    &::before{
        left:calc(50% / 3 * var(--gantt-s));
        right:calc(100% - 50% / 3 * var(--gantt-e));
    }
    &::after{
        left:calc(50% / 3 * var(--gantt-s2));
        right:calc(100% - 50% / 3 * var(--gantt-e2));
    }
}
.content{
    margin:12px 16px;
    padding:16px;
    border-radius:var(--r4);
    background:hsl(from var(--theme) calc(h - 10) 50 l / 0.2);
    color:hsl(from var(--theme) h s calc(50 - 35 * var(--seed)));
    &::before{
        display:block;
        content:"本文目录";
        margin:8px;
        font-size:1.375rem;
        font-weight:bold;
        opacity:0.7;
    }
    dt{
        position:relative;
        padding:4px 12px;
        font-size:1.125rem;
        font-weight:bold;
        color:hsl(from var(--theme) h 20 calc(50 - 30 * var(--seed)));
    }
    dd{
        padding:0 20px;
        color:hsl(from var(--theme) h 20 calc(50 - 25 * var(--seed)));
    }
    span{
        display:inline-block;
        margin:4px;
        padding:0 12px;
        font-size:0.875rem;
        line-height:24px;
        text-wrap:nowrap;
        background:hsl(from var(--theme) h s l / 0.1);
        color:hsl(from var(--theme) h 20 calc(50 - 20 * var(--seed)));
        border-radius:12px;
    }
}
.nick{
    margin:12px 16px;
    padding:16px;
    border-radius:var(--r4);
    background:hsl(from var(--theme) h 50 l / 0.2);
    color:hsl(from var(--theme) h s calc(50 - 35 * var(--seed)));
    &::before{
        display:block;
        content:"外号";
        margin:8px;
        font-size:1.375rem;
        font-weight:bold;
        opacity:0.7;
    }
    >p{
        font-size:1.125rem;
        background:hsl(from var(--theme) h s l / 0.2);
        padding:4px 16px;
        border-radius:99px;
        margin:8px;
        text-wrap:nowrap;
    }
}

.pages{
    display:flex;
    width:100%;
    padding:20px;
    gap:16px;
    justify-content:center;
    flex-wrap:wrap;
    user-select:none;
    >button{
        display:block;
        padding:12px 24px;
        width:200px;
        color:hsl(from currentColor h s l / 0.8);
        font-size:1.125rem;
        border-radius:var(--r4);
        background:hsl(from var(--primary) h s l / 0.2);
        &:last-child{
            text-align:left;
        }
        &:first-child{
            text-align:right;
        }
    }
}
footer{
    padding:100px 32px 56px 32px;
    color:#fffa;
    background:linear-gradient(#0000,#0008 120px);
}


#EVENT{
    >h1{
        margin:24px 16px;
        padding:8px;
        color:hsl(from var(--primary) h 20 calc(50 - 30 * var(--seed)));
        background:hsl(from var(--primary) h s l / 0.3);
        text-align:center;
        border-radius:99px;
        &::before{display:none;}
    }
    >div:not(.pages){
        position:relative;
        width:100%;
        margin:8px 0;
        padding:12px;
        background:hsl(from var(--primary) h s l / 0.2);
        border-radius:var(--r4);
        &:not(#EVENT-1+div)::before{
            position:absolute;
            top:4px;
            left:4px;
            content:attr(time);
            display:flex;
            justify-content:center;
            align-items:center;
            width:1.9em;
            height:1.9em;
            border-radius:var(--r3);
            font-weight:700;
            background:hsl(from var(--primary) h s calc(50 + 20 * var(--seed)) / 0.8);
            backdrop-filter:blur(1px);
        }
        &.rz-exam{
            background:hsl(from var(--primary) calc(h - 20) s l / 0.2);
            &::before{background:hsl(from var(--primary) calc(h - 20) s calc(50 + 20 * var(--seed)) / 0.8)!important;}
        }
        &.rz-weekend{
            background:hsl(from var(--primary) calc(h + 20) s l / 0.2);
            &::before{background:hsl(from var(--primary) calc(h + 20) s calc(50 + 20 * var(--seed)) / 0.8)!important;}
        }
        &.rz-activity{
            background:hsl(from var(--secondary) h s l / 0.2);
            &::before{background:hsl(from var(--secondary) h s calc(50 + 20 * var(--seed)) / 0.8)!important;}
        }
        &.rz-mid-exam{
            background:linear-gradient(135deg,#f802,#fc32);
            color:hsl(32 20 calc(50 - 30 * var(--seed)));
            &::before{background:#f80b!important}}
    }
    p{
        padding:2px 0;
        text-indent:2.26em;
        >b{
            margin-right:8px;
            padding:4px;
            background:hsl(from var(--primary) h s l / 0.2);
            border-radius:var(--r2);
            color:hsl(from var(--primary) h 20 calc(50 - 20 * var(--seed)));
        }
        >i{
            position:relative;
            display:block;
            margin-left:1em;
            padding-left:1em;
            text-indent:0;
            opacity:0.8;
            &::before{
                position:absolute;
                left:0;
                top:8px;
                bottom:8px;
                content:'';
                width:4px;
                border-radius:2px;
                background:#80808080;
            }
        }
    }
}